<%- include('../layouts/adminHeaders.ejs') %>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <%- include('../layouts/adminHeadersmid.ejs') %>
            <!-- partial -->
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">




                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">


                                <h3 class="page-title">
                                    <span class="page-title-icon bg-gradient-primary text-white me-2">
                                        <i class="mdi mdi-home"></i>
                                    </span> Dashboard
                                </h3>




                                <style>
                                    :root {
                                        --primary: hsl(195, 53%, 79%);
                                        font-family: Arial, Helvetica, sans-serif;

                                    }

                                    * {
                                        margin: 0;
                                        padding: 0;
                                    }

                                    .navbar {
                                        background-color: black;
                                        width: 100vw;
                                        height: 100px;
                                        display: flex;
                                        justify-content: right;
                                        align-items: center;
                                    }


                                    .nav-list {
                                        display: flex;
                                        justify-content: right;
                                        align-items: center;
                                        list-style-type: none;
                                        gap: 40px;
                                        margin: 0 50px 0 0;
                                    }

                                    .nav-list-item {
                                        color: white;

                                    }



                                    .page-body {
                                        display: flex;
                                    }


                                    .sidebar {
                                        height: 100%;
                                        width: 300px;
                                        min-height: 100vh;
                                        background-color: var(--primary);
                                        display: flex;
                                        flex-direction: column;
                                        gap: 2px;
                                        align-items: center;

                                    }


                                    .admin-profile {
                                        width: 100%;
                                        height: 100px;
                                        background-color: aquamarine;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin: 10px 0;
                                    }


                                    .admin-profile-box {
                                        width: 90%;
                                        height: 100px;
                                        /* background-color: lightcoral; */
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                    }


                                    .profile-circle {
                                        width: 70px;
                                        height: 70px;
                                        border: 1px solid black;
                                        border-radius: 50%;
                                    }


                                    .admin-name {
                                        font-size: large;
                                    }


                                    .side-options {
                                        width: 98%;
                                        height: 50px;
                                        background-color: white;
                                        border: 1px solid black;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 5px;
                                    }


                                    nav {
                                        position: relative;
                                    }


                                    aside {
                                        position: sticky;
                                        display: inline;
                                    }



                                    .sales-container {
                                        display: flex;
                                        /* gap: 30px; */
                                        flex-wrap: wrap;
                                        padding: 10px;
                                    }



                                    .sales-box {
                                        width: 500px;
                                        flex: 1 0 calc(25% - 20px);
                                        min-width: 150px;
                                        box-sizing: border-box;
                                        margin: 5px;
                                        box-sizing: border-box;
                                        background-color: #9ad0f5;
                                        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
                                        /* border: 1px solid #424242; */
                                        border-radius: 5px;
                                        /* height: 100px; Set a fixed height */
                                    }



                                    main {
                                        margin: 0 40px;
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        /* gap: 50px; */
                                        /* flex: 0 0 2 ; */
                                        flex-wrap: wrap;
                                    }



                                    .side-a-links {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        text-decoration: none;
                                        font-weight: bold;
                                        font-family: 'Courier New', Courier, monospace;
                                        color: green;
                                    }

                                    .charts-container {
                                        width: 50%;
                                        display: grid;
                                        grid-template-columns: repeat(2, 1fr);
                                        /* Creates two equal-width columns */
                                        gap: 50px;
                                        /* Adjusts space between the cards */
                                        /*display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;*/
                                    }


                                    .product-chart-div {
                                        max-width: 1000px;
                                        width: 500px;
                                        display: flex;
                                        justify-content: center;
                                    }

                                    .line-chart-div {
                                        max-width: 1000px;
                                        width: 500px;
                                        display: flex;
                                        justify-content: center;
                                    }





                                    .box-items {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        /* padding: 10px 10px; */
                                        width: 100%;
                                        /* padding: 50px 0;*/
                                    }



                                    .filter-container {
                                        display: flex;
                                        border-bottom: 1px solid black;
                                        padding-bottom: 10px;
                                        margin-top: 20px;
                                    }


                                    .filter-dates {
                                        display: flex;
                                        gap: 10px;
                                    }


                                    .filter-item-div {
                                        padding: 5px 5px;
                                    }


                                    .input-item {
                                        padding: 10px;
                                    }


                                    .btn-apply {
                                        background-color: black;
                                        color: white;
                                        border: 2px solid black;
                                        width: 100px;
                                        /* border-radius: 5px; */
                                        cursor: pointer;
                                    }


                                    .container-divs {
                                        margin: 20px 0;
                                    }



                                    .table-container {
                                        width: 100%;
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 10px;
                                        /* justify-content: space-between; */
                                    }

                                    table {
                                        width: 100%;
                                        min-width: 200px;
                                        border-collapse: collapse;
                                        margin-bottom: 20px;
                                        background-color: #f2f2f2;
                                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                    }

                                    .table-div {
                                        flex: 1 1 200px;
                                    }

                                    thead {
                                        background-color: #007bff;
                                        color: #fff;
                                    }

                                    th,
                                    td {
                                        padding: 10px;
                                        text-align: left;
                                        /* flex-grow: 1; */

                                    }

                                    th {
                                        font-weight: bold;
                                    }

                                    tr:nth-child(even) {
                                        background-color: #e6e6e6;
                                    }

                                    tr:hover {
                                        background-color: #d9d9d9;
                                    }




                                    /*  Media Queries  */
                                    @media (max-width: 768px) {
                                        table {
                                            width: 100%;
                                            margin-right: 0;
                                        }
                                    }

                                    @media screen and (max-width: 1250px) {
                                        .sidebar {
                                            width: 200px;
                                            /* Reduce the width of the sidebar for smaller screens */
                                        }
                                    }

                                    /* Adjust styles for even smaller screens */
                                    @media screen and (max-width: 650px) {
                                        aside {
                                            display: none;
                                            /* Further reduce the width of the sidebar for even smaller screens */
                                        }
                                    }
                                </style>
                                <%- include('../layouts/adminHeaders.ejs') %>
                                    <div class="container-scroller">

                                        <!-- partial:../../partials/_navbar.html -->
                                        <%- include('../layouts/adminHeadersmid.ejs') %>


                                            <!-- partial -->
                                            <!-- partial -->
                                            <!-- partial -->
                                            <!-- partial -->

                                            <!-- <div class="content-wrapper"style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUZTqYvv38DZhhKiWQ4qEMiQpvB8S2zfRNp-DPYG8v-JrQqLl5_lcnD_-b8oozMh5D9Yw&usqp=CAU'); background-size: cover; background-position: center;"> -->

                                            <style>
                                                /* Custom styles for date and day filters */
                                                .form-container {
                                                    background: #f7f7f7;
                                                    padding: 20px;
                                                    border-radius: 10px;
                                                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                                }

                                                .filter-container {
                                                    display: flex;
                                                    gap: 20px;
                                                    flex-wrap: wrap;
                                                }

                                                .filter-item-div {
                                                    flex: 1;
                                                    min-width: 150px;
                                                }

                                                .date-div input {
                                                    width: 100%;
                                                    padding: 10px;
                                                    border: 1px solid #ccc;
                                                    border-radius: 5px;
                                                }

                                                .input-select {
                                                    width: 100%;
                                                    padding: 10px;
                                                    border: 1px solid #ccc;
                                                    border-radius: 5px;
                                                    background: #fff;
                                                }

                                                .btn-apply {
                                                    padding: 10px 20px;
                                                    border: none;
                                                    border-radius: 5px;
                                                    background: #4caf50;
                                                    color: #fff;
                                                    cursor: pointer;
                                                    transition: background 0.3s ease;
                                                }

                                                .btn-apply:hover {
                                                    background: #45a049;
                                                }

                                                .card-title {
                                                    color: #4caf50;
                                                    /* Matching color with the sidebar */
                                                }
                                            </style>
                                            </head>

                                            <body>
                                                <div class="container-scroller">
                                                    <div class="row p-0 m-0 proBanner" id="proBanner">
                                                        <div class="col-md-12 p-0 m-0">

                                                        </div>
                                                    </div>


                                                    <!-- Filter Form 
                                            <div class="form-container container-divs mb-4">
                                                <form action="#" id="filter-form">
                                                    <div class="filter-container">
                                                        <div class="filter-item-div filter-dates">
                                                            <div class="from-date date-div">
                                                                <input type="date" name="from-date"
                                                                    class="from-date date-item input-item" />
                                                            </div>
                                                            <div class="to-date date-div">
                                                                <input type="date" name="to-date"
                                                                    class="to-date date-item input-item" />
                                                            </div>
                                                        </div>
                                                        <div class="filter-item-div">
                                                            <select name="filter-type" id="filter-type"
                                                                class="input-item input-select">
                                                                <option value="custom">Custom</option>
                                                                <option value="daily" selected>Daily</option>
                                                                <option value="weekly">Weekly</option>
                                                                <option value="monthly">Monthly</option>
                                                                <option value="yearly">Yearly</option>
                                                            </select>
                                                        </div>
                                                        <div class="filter-item-div">
                                                            <button type="submit"
                                                                class="input-item btn-apply">Apply</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>-->



                                                    <!-- Dashboard stats -->
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-6 col-sm-12 stretch-card grid-margin"
                                                            style="width: 300px; height: 180px; margin: 10px; ">
                                                            <div
                                                                class="card bg-gradient-danger card-img-holder text-white">
                                                                <div class="card-body">
                                                                    <img src="/asset-temp/images/dashboard/circle.svg"
                                                                        class="card-img-absolute" alt="circle-image" />
                                                                    <h4 class="font-weight-normal mb-3">Revenue<i
                                                                            class="mdi mdi-chart-line mdi-24px float-end"></i>
                                                                    </h4>
                                                                    <h2 class="mb-5 total-revenue"> ₹ </h2>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 stretch-card grid-margin"
                                                            style="width: 300px; height: 180px;  margin: 10px;">
                                                            <div
                                                                class="card bg-gradient-info card-img-holder text-white">
                                                                <div class="card-body">
                                                                    <img src="/asset-temp/images/dashboard/circle.svg"
                                                                        class="card-img-absolute" alt="circle-image" />
                                                                    <h4 class="font-weight-normal mb-3">Orders <i
                                                                            class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                                                                    </h4>
                                                                    <h2 class="mb-5 total-orders"></h2>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 stretch-card grid-margin"
                                                            style="width: 300px; height: 180px; margin: 10px;">
                                                            <div
                                                                class="card bg-gradient-success card-img-holder text-white">
                                                                <div class="card-body">
                                                                    <img src="/asset-temp/images/dashboard/circle.svg"
                                                                        class="card-img-absolute" alt="circle-image" />
                                                                    <h4 class="font-weight-normal mb-3">Users<i
                                                                            class="mdi mdi-diamond mdi-24px float-end"></i>
                                                                    </h4>
                                                                    <h2 class="mb-5 total-users">
                                                                        </h6>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 stretch-card grid-margin"
                                                            style="width: 300px; height: 180px; margin: 10px;">
                                                            <div
                                                                class="card bg-gradient-warning card-img-holder text-white">
                                                                <div class="card-body">
                                                                    <img src="/asset-temp/images/dashboard/circle.svg"
                                                                        class="card-img-absolute" alt="circle-image" />
                                                                    <h4 class="font-weight-normal mb-3">Products <i
                                                                            class="mdi mdi-cube-outline mdi-24px float-end"></i>
                                                                    </h4>
                                                                    <h2 class="mb-5 total-products"></h2>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Dashboard charts -->

                                                    <div class="container-divs">
                                                        <div class="charts-container">
                                                            <div class="line-chart-div">
                                                                <canvas id="myChart-lines"></canvas>
                                                            </div>
                                                            <div class="product-chart-div">
                                                                <canvas id="myChart-products"></canvas>
                                                            </div>


                                                        </div>
                                                    </div>
                                                   
  <!----                                               
<div class="report-container">
    <div class="card">
        <div class="card-header">
            <h4>Sales Report</h4>
        </div>
        <div class="card-body">
            <form id="filter-form" action="/admin/report" method="get">
                <div class="form-row">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate">
                </div>
                <div class="form-row">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
                <div class="form-row">
                    <label for="report-type">Report Type:</label>
                    <select id="report-type" name="type">
                        <option value="pdf">PDF</option>
                        <option value="excel">Excel</option>
                    </select>
                </div>
                <button type="submit" class="btn-submit">Generate Report</button>
            </form>
            <div class="button-group">
                <button onclick="setDateRange('daily')">Daily</button>
                <button onclick="setDateRange('weekly')">Weekly</button>
                <button onclick="setDateRange('monthly')">Monthly</button>
                <button onclick="setDateRange('yearly')">Yearly</button>
            </div>
        </div>
    </div>
  </div>
  <style>
  .report-container {
    width: 100%;
    max-width: 600px;
    margin :0 auto;
    padding: 20px;
  }
  
  .card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .card-header {
    background: #007bff;
    color: white;
    padding: 10px 15px;
  }
  
  .card-header h4 {
    margin: 0;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .form-row {
    margin-bottom: 10px;
  }
  
  .form-row label {
    display: block;
  }
  
  .form-row input,
  .form-row select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn-submit {
    display: block;
    width: 94%;
    padding: 10px;
    margin-top: 20px;
    background: #28a745;
    color: white;
    border-radius: 4px;
    border: none;
  }
  
  .button-group button {
    width: calc(25% - 10px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #17a2b8;
    color: white;
    border-radius: 4px;
    border: none;
  }
  
  @media (max-width: 768px) {
    .button-group button {
        width: calc(50% - 10px);
    }
  }
  
  </style>
  
-->



                                                        <div class="row">
                                                            <div class="col-md-6 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Products</h4>
                                                                        <div class="table-responsive">
                                                                            <table class="table product-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Products</th>
                                                                                        <th>Count</th>

                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="product-table-body">
                                                                                    <!-- Top products will be dynamically inserted here -->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 grid-margin stretch-card">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">Categories</h4>
                                                                        <div class="table-responsive">
                                                                            <table class="table category-table ">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Categories</th>
                                                                                        <th>count</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="category-table-body">
                                                                                    <!-- Top categories will be dynamically inserted here -->
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        </main>

                                                    </div>
<!---
                                                    <h1>Sales Report</h1>
                                                    <form id="filter-form" action="/admin/report" method="get">
                                                        <label for="startDate">Start Date:</label>
                                                        <input type="date" id="startDate" name="startDate">
                                                        <label for="endDate">End Date:</label>
                                                        <input type="date" id="endDate" name="endDate">

                                                        <select id="report-type" name="type">
                                                            <option value="pdf">PDF</option>
                                                            <option value="excel">Excel</option>
                                                        </select>

                                                        <button type="submit">Generate Report</button>
                                                    </form>

                                                    <button onclick="setDateRange('daily')">Daily</button>
                                                    <button onclick="setDateRange('weekly')">Weekly</button>
                                                    <button onclick="setDateRange('monthly')">Monthly</button>
                                                    <button class="btn btn-gradient-primary mb-2 btn-apply"
                                                        type="button" onclick="setDateRange('yearly')">Yearly</button>


                                                -->

                                                    <!-- content-wrapper ends -->
                                                </div>
                                                <!-- main-panel ends -->
                                    </div>
                                    <!-- page-body-wrapper ends -->
                            </div>
                            <!-- container-scroller -->
                            <!-- plugins:js -->
                            <script src="/asset-temp/vendors/js/vendor.bundle.base.js"></script>
                            <!-- endinject -->
                            <!-- Plugin js for this page -->
                            <script src="/asset-temp/vendors/chart.js/chart.umd.js"></script>
                            <script src="/asset-temp/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
                            <!-- End plugin js for this page -->
                            <!-- inject:js -->
                            <script src="/asset-temp/js/off-canvas.js"></script>
                            <script src="/asset-temp/js/misc.js"></script>
                            <script src="/asset-temp/js/settings.js"></script>
                            <script src="/asset-temp/js/todolist.js"></script>
                            <script src="/asset-temp/js/jquery.cookie.js"></script>
                            <!-- endinject -->
                            <!-- Custom js for this page -->
                            <script src="/asset-temp/js/dashboard.js"></script>
                            <!-- End custom js for this page -->
                            <!-- Fetch and Display Dashboard Data -->
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


                            <script>
                                let productsChart, categoryChart, myChartProducts, myChartLines;

                                document.addEventListener("DOMContentLoaded", async function () {
                                    const response = await fetch("/admin/dashboard/data");
                                    const data = await response.json();
                                    updateDashboard(data);
                                });

                                async function updateDashboard(data) {
                                    document.querySelector(".total-users").textContent = `Users: ${data.totalUsers}`;
                                    document.querySelector(".total-orders").textContent = `Orders: ${data.totalOrders}`;
                                    document.querySelector(".total-revenue").textContent = `Revenue: ₹${data.totalRevenue}`;
                                    document.querySelector(".total-products").textContent = `Products: ${data.totalProducts}`;

                                    populateTable(data);
                                    createCharts(data);
                                }

                                function populateTable(data) {
                                    const productBody = document.querySelector('.product-table tbody');
                                    const categoryBody = document.querySelector('.category-table tbody');

                                    productBody.innerHTML = data.topProducts.map(item => `<tr><td>${item.productName || 'Unknown'}</td><td>${item.count || 'Unknown'}</td></tr>`).join('');
                                    categoryBody.innerHTML = data.topCategoryies.map(item => `<tr><td>${item.categoryName || 'Unknown'}</td><td>${item.count || 'Unknown'}</td></tr>`).join('');
                                }

                                function createCharts(data) {
                                    if (productsChart) productsChart.destroy();
                                    if (categoryChart) categoryChart.destroy();

                                    const myChartProducts = document.getElementById("myChart-products");
                                    categoryChart = new Chart(myChartProducts, {
                                        type: "bar",
                                        data: {
                                            labels: [...data.topCategoryies.map((item) => item.categoryName)],
                                            datasets: [
                                                {
                                                    label: "Most Selling Category",
                                                    data: [...data.topCategoryies.map((item) => item.count)],
                                                    borderWidth: 1,
                                                },
                                            ],
                                        },
                                        options: {
                                            animation: {
                                                duration: 0 // Disable animation
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true,
                                                },
                                            },
                                        },
                                    });

                                    const myChartLines = document.getElementById("myChart-lines");
                                    productsChart = new Chart(myChartLines, {
                                        type: "line",
                                        data: {
                                            labels: [...data.topProducts.map((item) => item.productName)],
                                            datasets: [
                                                {
                                                    label: "Most Selling Products",
                                                    data: [...data.topProducts.map((item) => item.count)],
                                                    borderWidth: 1,
                                                },
                                            ],
                                        },
                                        options: {
                                            animation: {
                                                duration: 0 // Disable animation
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true,
                                                },
                                            },
                                        },
                                    });
                                }

                                const filterForm = document.querySelector("#filter-form");
                                filterForm.addEventListener("submit", async (event) => {
                                    event.preventDefault();
                                    let fromDate = filterForm.elements["from-date"].value;
                                    let toDate = filterForm.elements["to-date"].value;
                                    const filterType = document.querySelector("#filter-type").value;

                                    const response = await fetch(`/admin/dashboard/data/custom?filterType=${filterType}&fromDate=${fromDate}&toDate=${toDate}`);
                                    const data = await response.json();
                                    if (data.error) return Swal.fire({ text: data.error, background: "red", color: "white", showConfirmButton: false });

                                    updateDashboard(data);
                                });

                                function successMessage(message) {
                                    Swal.fire({
                                        text: message,
                                        position: "top",
                                        timer: 2000,
                                        background: "green",
                                        color: "white",
                                        showConfirmButton: false,
                                    });
                                }

                                function failureMessage(message) {
                                    Swal.fire({
                                        text: message,
                                        position: "top",
                                        timer: 2000,
                                        background: "red",
                                        color: "white",
                                        showConfirmButton: false,
                                    });
                                }
                            </script>
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

                            <script>
                                function setDateRange(range) {
                                    const now = new Date();
                                    let startDate, endDate;

                                    switch (range) {
                                        case 'daily':
                                            startDate = endDate = now.toISOString().split('T')[0];
                                            break;
                                        case 'weekly':
                                            const firstDayOfWeek = now.getDate() - now.getDay();
                                            startDate = new Date(now.setDate(firstDayOfWeek)).toISOString().split('T')[0];
                                            endDate = new Date(now.setDate(firstDayOfWeek + 6)).toISOString().split('T')[0];
                                            break;
                                        case 'monthly':
                                            startDate = new Date(now.getFullYear(), now.getMonth(), 1).toISOString().split('T')[0];
                                            endDate = new Date(now.getFullYear(), now.getMonth() + 1, 0).toISOString().split('T')[0];
                                            break;
                                        case 'yearly':
                                            startDate = new Date(now.getFullYear(), 0, 1).toISOString().split('T')[0];
                                            endDate = new Date(now.getFullYear(), 11, 31).toISOString().split('T')[0];
                                            break;
                                        default:
                                            return;
                                    }

                                    document.getElementById('startDate').value = startDate;
                                    document.getElementById('endDate').value = endDate;
                                }
                            </script>

                        </div>
                    </div>
                </div>

                <%- include('../layouts/adminFooters.ejs') %>