<% include('../layouts/header.ejs') %>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zouq</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/asset-temp/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/asset-temp/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/asset-temp/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/asset-temp/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="home"><h1 style="color: rgb(10, 109, 170);font-size: 60px;">Zouq</h1></style></h1></a>
          <a class="navbar-brand brand-logo-mini "href="home"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="/asset-temp/images/faces/face1.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">David Greymaax</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-email-outline"></i>
                <span class="count-symbol bg-warning"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/asset-temp/images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                    <p class="text-gray mb-0"> 1 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/asset-temp/images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                    <p class="text-gray mb-0"> 15 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="/asset-temp/images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                    <p class="text-gray mb-0"> 18 Minutes ago </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">4 new messages</h6>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="/asset-temp/images/faces/face1.jpg" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Murshida TV</span>
                  <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            
              </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/admin/listUser">
                  <span class="menu-title">User Management</span>
                  <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/category">
                <span class="menu-title">Category Management</span>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/product">
                <span class="menu-title">Product Management</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/loadorder">
                <span class="menu-title">Order Management</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=#>
                <span class="menu-title">Coupon Management</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Banner Management</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
             
            </li>
            
          </ul>
        </nav>
        <!-- partial -->
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         <div class="page-header">
             
              
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title" style="color: rgb(10, 109, 170);text-align: center;">Order Management</h2><br><br>
                    <div class="container">
                    
                        <form action="/admin/loadorder" method="GET">
                            <input type="text" name="search" placeholder="Search by User Name..." value="<%= searchQuery %>">
                            <select name="status">
                              <option value="">All Statuses</option>
                              <% statuses.forEach(status=> { %>
                                <option value="<%= status %>" <%=status===filterStatus ? 'selected' : '' %>><%= status %>
                                </option>
                                <% }) %>
                            </select>
                            <button type="submit">Search</button>
                          </form>
                        <br>
                    <div class="container">
                           
                        
              <button class="btn1" onclick="location.href='/admin/canceled-orders'" type="button">
                Cancelled Orders Details
              </button> 

              <button class="btn1" onclick="location.href='/admin/order-return'" type="button">
                Return Orders Details
              </button>
                       <br><br> <hr>    
                            <table class="table table-hover">
                                <thead>
                                        <tr>
                                          <th scope="col">SL.NO</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Product Count</th>
                                          <th scope="col">Product Name</th>
                                          <th scope="col">Total Amount</th>
                                          <!--- <th scope="col">Discount Amount</th>-->
                                          <th scope="col">Payment Method</th>
                                          <th scope="col">New Status</th>
                                          <th scope="col"> Update Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% for (var i=0; i < order.length; i++) { %>
                                          <tr>
                                            <td>
                                              <%= i+1 %>
                                            <td>
                      
                                              <%= order[i].userName %>
                                            </td>
                                            <td>
                                              <% if (order[i].products && order[i].products.length> 0) { %>
                                                <%= order[i].products.length %> products
                                                  <% } else { %>
                                                    0 <!-- If no products, display 0 -->
                                                    <% } %>
                                            </td>
                                            <td>
                                              <% if (order[i].products && order[i].products.length> 0) { %>
                                                <% order[i].products.forEach(product=> { %>
                                                  <% if (product.product && product.product.productName) { %>
                                                    <strong>Product Name:</strong>
                                                    <%= product.product.productName %><br>
                                                      <% } else { %>
                                                        <strong><br>Product Name:</strong> N/A<br>
                                                        <% } %>
                      
                                                          <strong><br>Quantity:</strong>
                                                          <%= product.quantity %><br>
                      
                                                            <% if (product.product && product.product.Price) { %>
                                                              <strong><br>Price:</strong> Rs.<%= product.product.Price %><br>
                                                                <% } else { %>
                                                                  <strong><br>Price:</strong> N/A<br>
                                                                  <% } %>
                      
                                                                    <!-- Add other product details as needed -->
                                                                    <br> <!-- Add a line break between each product's details -->
                                                                    <% }); %>
                                                                      <% } else { %>
                                                                        No products
                                                                        <% } %>
                                            </td>
                      
                                            <td>
                                              <% if (order[i].totalAmount !==undefined && order[i].totalAmount> 0) { %>
                                                Rs.<%= order[i].totalAmount %>
                                                  <% } else { %>
                                                    N/A
                                                    <% console.log("No Price found in order:", order[i]); %>
                                                      <% } %>
                                            </td>
                      
                                            <td>
                                              <% if (order[i].payment && order[i].payment.length> 0) { %>
                                                <%= order[i].payment %>
                                                  <% } else { %>
                                                    N/A
                                                    <% console.log("No payment found in order:", order[i]); %>
                                                      <% } %>
                                            </td>
                      
                                            <td>
                                              <%= newStatus ? newStatus : order[i].status %>
                                            </td>
                      
                                            <td>
                                              <form action="/admin/update-status/<%= order[i]._id %>" method="POST">
                                                <select name="newStatus">
                                                  <option value="processing">Processing</option>
                                                  <option value="pending">Pending</option>
                                                  <option value="shipped">Shipped</option>
                                                  <option value="delivered">Delivered</option>
                      
                                                </select>
                                                <button type="submit">Update Status</button>
                                              </form>
                                            </td>
                      
                                          </tr>
                                          <% } %>
                                      </tbody>
                      
                                    </table>
                                    <a href="/admin/home">Back To Home</a>
                         
<br><br>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% if (currentPage> 1) { %>
        <li class="page-item"><a class="page-link"
            href="/admin/loadorder?page=1&limit=<%= limit %>&search=<%= searchQuery %>&status=<%= filterStatus %>">First</a>
        </li>
        <li class="page-item"><a class="page-link"
            href="/admin/loadorder?page=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= searchQuery %>&status=<%= filterStatus %>">Previous</a>
        </li>
        <% } %>

          <% for (var i=1; i <=totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>"><a class="page-link"
                href="/admin/loadorder?page=<%= i %>&limit=<%= limit %>&search=<%= searchQuery %>&status=<%= filterStatus %>">
                <%= i %>
              </a></li>
            <% } %>

              <% if (currentPage < totalPages) { %>
                <li class="page-item"><a class="page-link"
                    href="/admin/loadorder?page=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= searchQuery %>&status=<%= filterStatus %>">Next</a>
                </li>
                <li class="page-item"><a class="page-link"
                    href="/admin/loadorder?page=<%= totalPages %>&limit=<%= limit %>&search=<%= searchQuery %>&status=<%= filterStatus %>">Last</a>
                </li>
                <% } %>
    </ul>
  </nav>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
         </div></div>
  <script>
    // Get the current path of the URL
    var path = window.location.pathname;

    // Remove trailing slash if it exists
    path = path.replace(/\/$/, "");

    // Get all navigation links
    var navLinks = document.querySelectorAll('.navbar-nav a');

    // Iterate through each link and check if its href matches the current path
    navLinks.forEach(function (link) {
      // Remove the "active" class from all links
      link.classList.remove('active');

      // Check if the link's href matches the current path
      if (link.getAttribute('href') === path) {
        // Add the "active" class to the matching link
        link.classList.add('active');
      }
    });
</script>
<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
    <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
  </div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/asset-temp/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/asset-temp/js/off-canvas.js"></script>
<script src="/asset-temp/js/hoverable-collapse.js"></script>
<script src="/asset-temp/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<!-- End custom js for this page -->
</body>
</html>
