<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/custom-css/navbar.css">
    <link rel="stylesheet" href="/admin/custom-css/sidebar.css">
    <link rel="stylesheet" href="/admin/custom-css/sales-report.css">

    <link rel="stylesheet" href="/admin/custom-css/msg-box.css">

    <script src="/admin/custom-js/sales-report.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>    
</head>
<body>

    <div class="page-wrapper">

        <!-- Navbar starts here -->
     
        <!-- Navbar ends here -->

        <div class="page-body">

          

            <main>
                    <div class="msg-box">
                        <p class="msg-para"></p>
                    </div>
                <div>
                    <br>
                    <h1>Sales Report</h1>
                    <hr>
                    <br>

                    <div class="sales-report-container">
                        <div class="sales-report-box">
                          <h4><span>Today:</span><%= dailyStats.dailyOrderCount %> orders</h4>
                          <h4><span>Revenue:</span>$<%= dailyStats.dailyRevenueAmount %></h4>
                        </div>
                      
                        <div class="sales-report-box">
                          <h4><span>This Month:</span><%= monthlyStats.monthlyOrderCount %> orders</h4>
                          <h4><span>Revenue:</span>$<%= monthlyStats.monthlyRevenueAmount %></h4>
                        </div>
                      
                        <div class="sales-report-box">
                          <h4><span>This Year:</span><%= yearlyStats.yearlyOrderCount %> orders</h4>
                          <h4><span>Revenue:</span>$<%= yearlyStats.yearlyRevenueAmount %></h4>
                        </div>
                    </div>

                    <div class="options-container"> 
                        <div class="from-to-date">

                            <div>
                                <input type="date" name="from-date" id="from-date" class="input-date">
                            </div>
                            <div>    
                                <input type="date" name="to-date" id="to-date" class="input-date">
                            </div>
                            <div>
                                <select name="report-type" id="report-type" class="input-date">
                                    <option value="custom" >Custom</option>
                                    <option value="daily" selected >Daily</option>
                                    <option value="monthly">monthly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                                <button class="btn-apply"  type="button">Apply</button>
                            </div>
                        </div>
                        <div class="download-buttons">
                            <!-- <button onclick="generatePDF()">Download as PDF</button> -->
                           
                            <button id="generate-pdf">Download as PDF</button>
                            <button id="generate-excel">Download as Excel</button>
                        </div>
                    </div>

                    <div class="sales-report-div">
                        <div>
                            <div><span>Orders : <b><span class="noOfOrders"></span></b></span></div>
                            <div><span>Revenue : <b><span class="revenueAmount"></span></b></span></div>
                        </div>
                        <div>
                            <span>Number of Users : <b><span class="noOfUsers"></span></b></span>
                        </div>
                        <div class="top-products-sale">
                            <h3>Top products sale</h3>
                        </div>
                        <div class="top-categories-sale">
                            <h3>Top Category sale</h3>
                        </div>
                        <div class="payment-options">
                            <h3>Choosed Payment Option </h3>
                        </div>
                        <div class="order-status">
                            <h3>Order Status Summary</h3>
                        </div>
                    </div>

                </div>
            </main>

        </div>
    </div>
    
</body>
</html>