<%- include('../layouts/adminHeaders.ejs') %>

   
    
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('../layouts/adminHeaders.ejs') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
     
      <!-- partial -->
       <!-- partial -->

       <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title" style="color: rgb(10, 109, 170);text-align: center;">Return Orders</h2><br><br>
                <div class="container">
  
            
            <div class="col-md-12 grid-margin stretch-card">
             
                  <table class="table table-hover">
                 
                        <tr>
                            <th>User Name</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Return Reason</th>
                            <!-- Add more columns as needed -->
                        </tr>
                        <% returnedOrders.forEach(order => { %>
                            <tr>
                                <td><%= order.userId.name %></td> <!-- Change userName to name -->
                                <% if (order.products[0] && order.products[0].product) { %>
                                    <td><%= order.products[0].product.productName %></td>
                                    <td><%= order.products[0].product.price %></td>
                                <% } else { %>
                                    <td colspan="2">Product not found</td>
                                <% } %>
                                <td><%= order.products[0].quantity %></td>
                                <td><%= order.returnReason %></td>
                                <!-- Add more data as needed -->
                            </tr>
                        <% }); %>
                    </table>
               

           
            
          </div>
          <a href="/admin/loadorder">Back to order details</a>
           

            
        </div>
        <!-- content-wrapper ends -->
  
              </div>
            </div>
          </div>
        </div>
       
   
         
    
 <!-- partial:../../partials/_footer.html -->
 <%- include('../layouts/adminFooters.ejs') %>