<%- include('../layouts/adminHeaders.ejs') %>

  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('../layouts/adminHeadersmid.ejs') %>
      <!-- partial -->

      <!-- partial -->
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">


            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title" style="color: rgb(10, 109, 170);text-align: center;">User List</h2>
                  <p class="card-description"> <code></code>
                  </p>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Verified</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>

                        <% if(users.length> 0){
                          for(let i=0; i< users.length; i++) { %>
                      <tr>
                        <td>
                          <%= users[i].name %>
                        </td>
                        <td>
                          <%= users[i].email %>
                        </td>

                        <td>
                          <%= users[i].mobile %>
                        </td>
                        <td>
                          <%= users[i].is_verified===false ? 'Not Verified' : 'Verified' %>
                        </td>

                        <td>
                          <a href="/admin/listUser/block_user/<%=users[i]._id%>"
                            onclick="return confirm('Are you sure you want to block/unblock this user?')"
                            class="btn btn-sm <%= users[i].isBlocked ? 'btn-danger' : 'btn-primary' %> delete"
                            title="Delete">
                            <%= users[i].isBlocked ? 'Unblock' : 'Block' %>
                          </a>
                        </td>

                      </tr>
                      <% } }else{%>

                        <tr>

                          <td colspan="5">Users Not Found</td>

                        </tr>


                        <% } %>


                  </table>
                  <br>
                  <br>
                  <a href="/admin/home">Back To Home</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <%- include('../layouts/adminFooters.ejs') %>