<%- include('../layouts/productheader') %>
<style>
  .toast-message {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #eb6767;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      display: none;
  }
</style>
  <div class="header-middle sticky-header">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="/home" class="logo">
          <h2 style="color: #c66">Zouq</h2>
        </a>
        <nav class="main-nav">
          <ul class="menu sf-arrows">

            <li>
              <a href="/home" class="sf-with-ul">Home</a>

              <div class="megamenu megamenu-md">

              </div><!-- End .megamenu megamenu-md -->
            </li>
            <li>
              <a href="/product-list" class="sf-with-ul">Shop</a>


            </li>


          </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .header-left -->

      <div class="header-right">

        <div class="wishlist">
          <a href="/wishlist" title="Wishlist">
            <i class="icon-heart-o"></i>

        </div><!-- End .compare-dropdown -->

        <div class="dropdown cart-dropdown">
          <a href="/cartlist" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-display="static">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count">
              <%= cartCount %>
            </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-products">

            </div><!-- End .cart-product -->

            <div class="dropdown-cart-total">

            </div><!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
              <a href="/cartList" class="btn btn-primary">View Cart</a>
            </div><!-- End .dropdown-cart-total -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .cart-dropdown -->
      </div><!-- End .header-right -->
    </div><!-- End .container -->
  </div><!-- End .header-middle -->
  </header><!-- End .header -->
  <div id="toast-message" class="toast-message"></div>
  <main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
      <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
      </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item"><a href="/product-list">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
      </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="page-content">
      <div class="cart">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
             
                  <table class="table table-cart table-mobile">
                  
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (user.cart && user.cart.length> 0) { %>
                        <% user.cart.forEach(cartItem=> { %>
                      <td class="product-col">
                        <div class="product">
                          <figure class="product-media">
                            <% if (cartItem.product.images && cartItem.product.images.length> 0) { %>
                              <a href="/product/<%= cartItem.product._id %>">
                                <img src="/images/<%= cartItem.product.images[0] %>" alt="Product image">
                              </a>
                              <% } else { %>
                                <p>Image not available</p>
                                <% } %>
                          </figure>
                        </div>
                      </td>
                      <td>
                        <h3 class="product-title">
                          <a href="#">
                            <% if (cartItem.product && cartItem.product.productName) { %>
                              <%= cartItem.product.productName %>
                                <% } else { %>
                                  Product Name Not Available
                                  <% } %>
                          </a>
                        </h3>

                        <!-- Display product offer details -->
                        <% if (cartItem.product && cartItem.product.category && cartItem.product.category.offer) { %>
                          <p>Category Offer: <%= cartItem.product.category.offer.amount %>% off</p>
                          <% } %>

                            <!-- Display product offer details -->
                            <% if (cartItem.product && cartItem.product.offer) { %>
                              <p>
                                <%= cartItem.product.offer.amount %>% off
                              </p>
                              <% } %>
                      </td>
                      <td class="price-col">
                        <% if (cartItem.product && cartItem.product.price) { %>
                          Rs<%= cartItem.product.price %>
                            <% } else { %>
                              Price Not Available
                              <% } %>
                      </td>
                      <td class="quantity-col">
                        <div class="cart-product-quantity">
                          <input type="number" class="form-control quantity-input" value="<%= cartItem.quantity %>"
                            min="1" max="<%= cartItem.product.stock %>" step="1" data-decimals="0" required
                            data-product-id="<%= cartItem.product._id %>">
                        </div>
                      </td>
                      <td class="total-col">
                        <% if (cartItem.product && cartItem.product.price) { %>
                          Rs<span class="total-price" data-product-id="<%= cartItem.product._id %>"
                            data-product-price="<%= cartItem.product.price %>">
                            <%= cartItem.quantity * cartItem.product.price %>
                          </span>
                          <% } else { %>
                            Total Not Available
                            <% } %>
                      </td>
                      <!---  <td class="remove-col">
                          <a href="/deleteCartItem/<%= user._id %>/<%= cartItem.product._id %>"
                            onclick="return confirm('Are you sure you want to remove this product?');">
                            <button class="btn-remove"><i class="icon-close"></i></button>
                          </a>


                        </td>
                      -->
                      <!--
                        <td class="remove-col">
                          <a href="/deleteCartItem/<%= user._id %>/<%= cartItem.product._id %>"
                             onclick="return showConfirmation();">
                            <button class="btn-remove"><i class="icon-close"></i></button>
                          </a>
                        </td>
                      -->
                      <td class="remove-col">
                        <a href="/deleteCartItem/<%= user._id %>/<%= cartItem.product._id %>"
                          onclick="return showConfirmation(event);">
                          <button class="btn-remove"><i class="icon-close"></i></button>
                        </a>
                      </td>

                      </tr>
                      <% }) %>


                    </tbody>
                  </table>
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3">
              <div class="summary summary-cart">
                <h3 class="summary-title">Cart Total</h3>
                <table class="table table-summary">
                  <tbody>
                    <tr class="summary-total">
                      <tr>
                        
                      <td>Price:</td>
                      <td>
                       <% const total=user.cart.reduce((acc, item)=> acc + (item.product && item.product.price ?
                          item.quantity * item.product.price : 0), 0); %>
                       <%= total %>
                      </td>
                      <tr class="summary-shipping">
                        
                        
                      </tr>
                      
                      <tr class="summary-shipping-row">
                        <td>
               
                    
                    <input checked aria-selected="" type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                    <label class="custom-control-label" for="free-shipping">Shipping Charge<br></label>
                  </td>
                    <td>50</td>
                      </tr>
                    <tr><td>
                    <input checked aria-selected="" type="radio" id="free-shipping" name="cod" class="custom-control-input">
                    <label class="custom-control-label" for="free-shipping">Cash On Delivery<br></label>
                  </td></tr>
                  <tr><td>
                   Order above Rs.1000 Not eligible for Cash On Delivery
                  </td></tr>
                  
                       
                   
                  </tbody>
                </table>
                <a href="/chooseAddress" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
              </div><!-- End .summary -->
              <a href="/product-list" class="btn btn-outline-dark-2 btn-block mb-3">
                <span>CONTINUE SHOPPING</span>
                <i class="icon-refresh"></i>
              </a>

            </aside><!-- End .col-lg-3 -->

            <% } else { %>

              <!---  <td colspan="6" style="text-align: center;">-->
              <img src="/images/th.jpeg" alt="No items in the cart" style="width: 150px;margin-left: 50%;"><br>
              <p style="text-align: center;margin-left: 20%;">No items in the cart.</p>
              <br><br>

              <% } %>



          </div><!-- End .row -->



        </div><!-- End .container -->
      </div><!-- End .cart -->

    </div><!-- End .page-content -->



  </main><!-- End .main -->
  <footer class="footer footer-2">
    <div class="footer-middle border-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="widget widget-about">


              <div class="widget-about-info">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                    <a href="tel:123456789">+0123 456 789</a>
                  </div><!-- End .col-sm-6 -->
                  <div class="col-sm-6 col-md-8">
                    <span class="widget-about-title">Payment Method</span>
                    <figure class="footer-payments">
                      <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                  </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->
              </div><!-- End .widget-about-info -->
            </div><!-- End .widget about-widget -->
          </div><!-- End .col-sm-12 col-lg-3 -->

          <div class="col-sm-4 col-lg-2">
            <div class="widget">
              <h4 class="widget-title">Information</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="about.html">About Zouq</a></li>
                <li><a href="#">How to shop on Zouq</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="login.html">Log in</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-4 col-lg-3 -->

          <div class="col-sm-4 col-lg-2">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back guarantee!</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-4 col-lg-3 -->

          <div class="col-sm-4 col-lg-2">
            <div class="widget">
              <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Sign In</a></li>
                <li><a href="cart.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul><!-- End .widget-list -->
            </div><!-- End .widget -->
          </div><!-- End .col-sm-64 col-lg-3 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
        <p class="footer-copyright">Copyright © 2024 Zouq Store. All Rights Reserved.</p><!-- End .footer-copyright -->
        <ul class="footer-menu">
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul><!-- End .footer-menu -->
        <div class="social-icons social-icons-color">
          <span class="social-label"></span>
          <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
              class="icon-facebook-f"></i></a>
          <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
              class="icon-twitter"></i></a>
          <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
              class="icon-instagram"></i></a>
          <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
              class="icon-youtube"></i></a>
          <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
              class="icon-pinterest"></i></a>
        </div><!-- End .soial-icons -->
      </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
  </footer><!-- End .footer -->
  </div><!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
          required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>

      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li class="active">
            <a href="home.ejs">Home</a>

          <li>
            <a href="/product-list">Shop</a>

          </li>


        </ul>
      </nav><!-- End .mobile-nav -->

      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->


  <!-- Plugins JS File -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery.hoverIntent.min.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/superfish.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/jquery.plugin.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/demos/demo-5.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>


  <script>
    function showConfirmation(event) {
      // event.preventDefault(); // Prevent the default link behavior
      /* Swal.fire({
    title: 'Are you sure?',
    html: 'You are about to remove this product.',
    icon: 'info',
    confirmButtonText: 'OK',
  }).then((result) => {
          if (result.isConfirmed) {
            // User confirmed removal
            // Redirect to the appropriate page after successful removal
            setTimeout(() => {
            window.location.href = '/cartList'; // Example: Redirect to the cart list page
          }, 5000); // 2000 milliseconds (2 seconds)
          } else {
            // User canceled removal
            // No action needed
          }
        });
  
  */

      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to remove this product.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, remove it!',
        cancelButtonText: 'Cancel',
      }).then((result) => {
        if (result.isConfirmed) {
          // User confirmed removal
          // Redirect to the appropriate page after successful removal
          setTimeout(() => {
            window.location.href = '/cartList'; // Example: Redirect to the cart list page
          }, 5000); // 2000 milliseconds (2 seconds)
        } else {
          // User canceled removal
          // No action needed
        }
      });
    }
  </script>
  <!---
  Add this script block at the end of your HTML file 
  <script>
    function showConfirmation() {
      Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to remove this product.',
        icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, remove it!',
      cancelButtonText: 'Cancel',
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed removal
        // Redirect to the appropriate page after successful removal
        window.location.href = '/cartList'; // Adjust the URL as needed
      } else {
          // User canceled removal
          // No action needed
        }
      });
  
      // Prevent the default link behavior
      return false;
    }
  </script>
-->

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Add an event listener to all quantity inputs
      const quantityInputs = document.querySelectorAll('.quantity-input');
      quantityInputs.forEach(function (input) {
        input.addEventListener('change', updateTotalPrice);
      });

      // Function to update the total price based on the quantity
      function updateTotalPrice(event) {
        const input = event.target;
        const rowIndex = input.closest('tr').getAttribute('data-row-index');
        const totalSpan = document.querySelector(`tr[data-row-index="${rowIndex}"] .total-price`);

        // Update the total price
        const totalPrice = parseInt(input.value) * parseFloat(user.cart[rowIndex].product.price);
        totalSpan.textContent = `${totalPrice.toFixed(2)}`;
      }
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const quantityInputs = document.querySelectorAll('.quantity-input');

      quantityInputs.forEach(input => {
        input.addEventListener('change', function () {
          const productId = this.getAttribute('data-product-id');
          const totalPriceSpan = document.querySelector(`.total-price[data-product-id="${productId}"]`);

          // Retrieve the product price from the totalPriceSpan data attribute
          const productPriceString = totalPriceSpan.getAttribute('data-product-price');

          // Convert the product price to a float, or set it to 0 if not a valid number
          const productPrice = parseFloat(productPriceString) || 0;

          const currentQuantity = parseInt(this.value, 10);
          const newTotalPrice = currentQuantity * productPrice;

          // Check if the calculated total price is NaN and handle it
          if (!isNaN(newTotalPrice)) {
            totalPriceSpan.textContent = `${newTotalPrice.toFixed(2)}`;

            // Make an asynchronous request to update the quantity in the database
            $.ajax({
              url: `/updateCartItemQuantity/${productId}`,
              method: 'POST',
              data: { quantity: currentQuantity },
              success: function (response) {
                // Handle success, if needed
                console.log(response);
              },
              error: function (error) {
                // Handle error, if needed
                console.error(error);
              }
            });
          } else {
            console.error('Error: Calculated total price is NaN');
          }
        });
      });
    });


  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const quantityInputs = document.querySelectorAll('.quantity-input');
      quantityInputs.forEach(input => {
        input.addEventListener('change', updateTotalPrice);
      });
      function updateTotalPrice(event) {
        const input = event.target;
        const productId = input.getAttribute('data-product-id');
        const totalSpan = document.querySelector(`.total-price[data-product-id="${productId}"]`);
        const productPrice = parseFloat(totalSpan.getAttribute('data-product-price')) || 0;
        const currentQuantity = parseInt(input.value, 10);
        const newTotalPrice = currentQuantity * productPrice;

        if (!isNaN(newTotalPrice)) {
          totalSpan.textContent = `${newTotalPrice.toFixed(2)}`;

          // Trigger the cart total update
          updateCartTotal();
        } else {
          console.error('Error: Calculated total price is NaN');
        }
      }

      function updateCartTotal() {
        $.ajax({
          url: `/updateCartTotal/<%= user._id %>`,
          method: 'POST',
          success: function (response) {
            // Update the displayed cart total on the page
            const cartTotalElement = document.getElementById('cart-total');
            if (cartTotalElement) {
              cartTotalElement.textContent = `$${response.total.toFixed(2)}`;
            }
          },
          error: function (error) {
            // Handle error, if needed
            console.error(error);
          }
        });
      }
    });
  </script>
 <script>
  // Wait for the DOM to be ready
  $(document).ready(function() {
      // Add event listener to quantity inputs
      $('.quantity-input').change(function() {
          var quantity = parseInt($(this).val()); // Get the entered quantity
  
          // Check if quantity exceeds 10
          if (quantity > 5) {
              showToast('You can purchase maximum 5 pcs of a single product.');
          }
      });
  
      // Function to show toast message
      function showToast(message) {
          var toastElement = $('#toast-message');
          toastElement.text(message);
          toastElement.fadeIn(400).delay(3000).fadeOut(400);
      }
  });
  </script>




  <!---<script>


function areYouSureEdit() {
  swal({
      title: "Are you sure you wish to edit this record?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: '#DD6B55',
      confirmButtonText: 'Yes!',
      closeOnConfirm: false,
  }.then((value) => {
    if(value){
             //bring edit page
       }else{
         //write what you want to do
        }
   }) };
  
  function areYouSureDelete() {
    swal({
      title: "Are you sure you wish to delete this record?",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: '#DD6B55',
      confirmButtonText: 'Yes, delete it!',
      closeOnConfirm: false,
  }.then((value) => {
    if(value){
             //ajax call or other action to delete the blog
          swal("Deleted!", "Your imaginary file has been deleted!", "success");
       }else{
         //write what you want to do
        }
   })); };
  </script>-->
  <%- include('../layouts/productfooter.ejs') %>