<%- include('../layouts/productheader') %>

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/home" class="logo">
                    <h2 style="color: #c66;;">Zouq</h2>
                </a>
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <!-- <a href="/home" class="sf-with-ul">Home</a>

                    <li class="megamenu-container active">

                        <div class="megamenu demo">
                           
                        
                            
                        </div>
                        End .megamenu -->
                        <!-- </li> -->
                        <li>
                            <a href="/home" class="sf-with-ul">Home</a>

                            <div class="megamenu megamenu-md">

                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="category.html" class="sf-with-ul">Shop</a>

                            <div class="megamenu megamenu-md">

                            </div><!-- End .megamenu megamenu-md -->
                        </li>

                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">

                <div class="dropdown compare-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" data-display="static" title="Compare Products"
                        aria-label="Compare Products">
                        <i class="icon-random"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="compare-products">
                            <li class="compare-product">
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>
                            </li>
                            <li class="compare-product">
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>
                            </li>
                        </ul>


                    </div><!-- End .dropdown-menu -->
                </div><!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">


                                    <div class="product">
                                        <div class="product-cart-details">


                                            <div class="dropdown-cart-total">

                                            </div><!-- End .dropdown-cart-total -->

                                            <div class="dropdown-cart-action">
                                                <a href="/cartList" class="btn btn-primary">View Cart</a>
                                            </div><!-- End .dropdown-cart-total -->
                                        </div><!-- End .dropdown-menu -->
                                    </div><!-- End .cart-dropdown -->
                                </div><!-- End .header-right -->
                            </div><!-- End .container -->
                        </div><!-- End .header-middle -->
                        </header><!-- End .header -->

                        <main class="main">
                            <div class="page-header text-center"
                                style="background-image: url('assets/images/page-header-bg.jpg')">
                                <div class="container">
                                    <h1 class="page-title">ADDRESS</h1>
                                </div><!-- End .container -->
                            </div><!-- End .page-header -->
                            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                                <div class="container">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/profile">profile</a></li>

                                        <li class="breadcrumb-item active" aria-current="page">Address</li>
                                    </ol>
                                </div><!-- End .container -->
                            </nav><!-- End .breadcrumb-nav -->
                            <div class="card">
                                <br>
                                <br>
                                <h4 style="margin: 7rem;">Choose Address</h3>
                                    <h4> <a href="/choose-addAddress" style=" margin-left: 150px;">Add New Address</a>
                                    </h4>


                                    <div class="card-body"
                                        style=" margin: 50px; border: 2px solid black; padding: 3rem;">
                                        <% console.log("Addresses:", addresses); %>
                                            <% if (addresses && addresses.length> 0) { %>
                                                <% addresses.forEach((userAddress)=> { %>
                                                    <div class="address-details"
                                                        style="border: 2px solid rgba(222, 203, 203, 0.367); padding: 3%;">
                                                        <h6>Address</h6>
                                                        <p>
                                                            <%= userAddress.address[0].name || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].mobile || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].address || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].city || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].pincode || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].district || 'No name found' %>
                                                        </p>
                                                        <p>
                                                            <%= userAddress.address[0].state || 'No name found' %>
                                                        </p>


                                                        <form action="/SelectedAddress" method="post">
                                                            <!-- Hidden input to store the selected address ID -->
                                                            <input type="hidden" name="selectedAddressId"
                                                                value="<%= userAddress._id %>">
                                                            <div class="form-group">
                                                                <button type="submit"
                                                                    class="btn text-dark update Border border-primary">Choose
                                                                    This Address</button>
                                                            </div>
                                                        </form>
                                                        <div class="form-group">
                                                            <a href="/edit-address/<%= userAddress._id %>"> <button
                                                                    type="submit"
                                                                    class="btn text-dark update Border border-primary">Edit</button></a>
                                                            <a href="#"
                                                                onclick="confirmDelete('/delete-chooseaddress/<%= userAddress._id %>')">
                                                                <button type="submit"
                                                                    class="btn text-dark updat Border border-danger">Delete</button></a>

                                                        </div>

                                                    </div>
                                                    <br>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <p>No addresses found.</p>
                                                            <% } %>

                                    </div>
                            </div>
                        </main><!-- End .main -->
                        <footer class="footer footer-2">
                            <div class="footer-middle border-0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="widget widget-about">


                                                <div class="widget-about-info">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-4">
                                                            <span class="widget-about-title">Got Question? Call us
                                                                24/7</span>
                                                            <a href="tel:123456789">+0123 456 789</a>
                                                        </div><!-- End .col-sm-6 -->
                                                        <div class="col-sm-6 col-md-8">
                                                            <span class="widget-about-title">Payment Method</span>
                                                            <figure class="footer-payments">
                                                                <img src="assets/images/payments.png"
                                                                    alt="Payment methods" width="272" height="20">
                                                            </figure><!-- End .footer-payments -->
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .widget-about-info -->
                                            </div><!-- End .widget about-widget -->
                                        </div><!-- End .col-sm-12 col-lg-3 -->

                                        <div class="col-sm-4 col-lg-2">
                                            <div class="widget">
                                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                                <ul class="widget-list">
                                                    <li><a href="about.html">About Zouq</a></li>
                                                    <li><a href="#">How to shop on Zouq</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                    <li><a href="contact.html">Contact us</a></li>
                                                    <li><a href="login.html">Log in</a></li>
                                                </ul><!-- End .widget-list -->
                                            </div><!-- End .widget -->
                                        </div><!-- End .col-sm-4 col-lg-3 -->

                                        <div class="col-sm-4 col-lg-2">
                                            <div class="widget">
                                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                                <ul class="widget-list">
                                                    <li><a href="#">Payment Methods</a></li>
                                                    <li><a href="#">Money-back guarantee!</a></li>
                                                    <li><a href="#">Returns</a></li>
                                                    <li><a href="#">Shipping</a></li>
                                                    <li><a href="#">Terms and conditions</a></li>
                                                    <li><a href="#">Privacy Policy</a></li>
                                                </ul><!-- End .widget-list -->
                                            </div><!-- End .widget -->
                                        </div><!-- End .col-sm-4 col-lg-3 -->

                                        <div class="col-sm-4 col-lg-2">
                                            <div class="widget">
                                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                                <ul class="widget-list">
                                                    <li><a href="#">Sign In</a></li>
                                                    <li><a href="cart.html">View Cart</a></li>
                                                    <li><a href="#">My Wishlist</a></li>
                                                    <li><a href="#">Track My Order</a></li>
                                                    <li><a href="#">Help</a></li>
                                                </ul><!-- End .widget-list -->
                                            </div><!-- End .widget -->
                                        </div><!-- End .col-sm-64 col-lg-3 -->
                                    </div><!-- End .row -->
                                </div><!-- End .container -->
                            </div><!-- End .footer-middle -->

                            <div class="footer-bottom">
                                <div class="container">
                                    <p class="footer-copyright">Copyright © 2024 Zouq Store. All Rights Reserved.</p>
                                    <!-- End .footer-copyright -->
                                    <ul class="footer-menu">
                                        <li><a href="#">Terms Of Use</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul><!-- End .footer-menu -->
                                    <div class="social-icons social-icons-color">
                                        <span class="social-label"></span>
                                        <a href="#" class="social-icon social-facebook" title="Facebook"
                                            target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="Twitter"
                                            target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-instagram" title="Instagram"
                                            target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon social-youtube" title="Youtube"
                                            target="_blank"><i class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="Pinterest"
                                            target="_blank"><i class="icon-pinterest"></i></a>
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .container -->
                            </div><!-- End .footer-bottom -->
                        </footer><!-- End .footer -->
                    </div><!-- End .page-wrapper -->
                    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

                    <div class="mobile-menu-container mobile-menu-light">
                        <div class="mobile-menu-wrapper">
                            <span class="mobile-menu-close"><i class="icon-close"></i></span>

                            <form action="#" method="get" class="mobile-search">
                                <label for="mobile-search" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                                    placeholder="Search in..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </form>

                            <nav class="mobile-nav">
                                <ul class="mobile-menu">
                                    <li class="active">
                                        <a href="home.ejs">Home</a>

                                    <li>
                                        <a href="/category">Shop</a>

                                    </li>
                                    <li>
                                        <a href="product.html" class="sf-with-ul">Product</a>

                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </nav><!-- End .mobile-nav -->

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .mobile-menu-wrapper -->
                    </div><!-- End .mobile-menu-container -->





                    <!-- zouq/index-5.html  22 Nov 2019 09:56:18 GMT -->



                    <script>
                        function confirmDelete(url) {
                            if (confirm("Are you sure you want to delete this address?")) {
                                window.location.href = url;
                            }
                        }
                    </script>

                    <%- include('../layouts/productfooter.ejs') %>